/*定义的变量*/
//全局
$con_w: 1200px; //container的适应宽度，低于这个宽度时，width为100%
//header
$header_bg: #FFFFFF; //header的背景颜色

$logo_url: url("../img/icon_ERPlogo.png"); //logo的地址
$logo_w: 147px; //logo的宽度
$logo_h: 64px; //logo的高度

$nav_a_w: 100px; //navbar中的a标签的宽度
$nav_a_h: 80px; //navbar中的a标签的高度
$nav_color: #000000; //navbar中的字体颜色
$nav_color_t: #FFFFFF; //在透明状态下，navbar中的字体颜色

$sign_btn_w: 125px; //每个sign按钮的宽度
$sign_btn_h: 40px; //每个sign按钮的高度
$sign_btn_r: 20px; //每个sign按钮的圆角
$sign_btn_color: #FB923F; //按钮的颜色，以登录为准
$sign_btn_bg: #FFFFFF; //按钮的背景颜色，以登录为准
$sign_btn_c_h: #FFFFFF; //按钮在hover状态下的字体颜色
$sign_btn_b_h: #FE7819; //按钮在hover状态下的背景颜色
//article
$slide_bg: #495473; //透明图层的背景颜色
$slide_color: #FFFFFF; //透明图层的字体颜色
$btn_exp_w: 180px; //立即体验按钮的宽度
$btn_exp_h: 50px; //立即体验按钮的高度

$fea_pic1: url("../img/feature1.png"); //feature第一张照片
$fea_pic2: url("../img/feature2.png");
$fea_pic3: url("../img/feature3.png");
$fea_even_bg: #F0F4F8; //feature偶数项的背景颜色
//footer
$foot_bg_color: #eefeee;

/*统一样式*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*局部统一样式*/
.container {
    width: $con_w;
    margin: 0 auto;
}
@media screen and (max-width:$con_w - 1) {
    .container {
        width: 100%;
    }
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h1,
h2,
h3 {
    font-weight: 400;
}

/*动画*/
@keyframes appearLeft {
    0% {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes appearRight {
    0% {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes opacity_app {
    0% {
        filter: alpha(opacity=30);
        opacity: 0.1;
    }
    to {
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

/*header模块*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $header_bg;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    z-index: 255;
}
.logo {
    display: inline-block;
    width: $logo_w;
    height: $logo_h;
    margin-top: ($nav_a_h - $logo_h)/2;
    background-image: $logo_url;
    background-size: cover;
    float: left;
    background-color: $sign_btn_color; //暂时显示背景色
}
.navbar {
    margin-left: $logo_w;
}
.navbar a {
    display: inline-block;
    width: $nav_a_w;
    line-height: $nav_a_h;
    text-align: center;
    color: $nav_color;
}
.sign_btn {
    float: right;
    a {
        margin-right: 10px;
    }
}
.sign_in,
.sign_up {
    display: inline-block;
    width: $sign_btn_w;
    line-height: $sign_btn_h;
    margin-top: ($nav_a_h - $sign_btn_h)/2;
    text-align: center;
    border-radius: $sign_btn_r;
}
.sign_in {
    background-color: $sign_btn_bg;
    color: $sign_btn_color;
    border: 1px solid $sign_btn_color;
}
.sign_up {
    background-color: $sign_btn_color;
    color: $sign_btn_bg;
}
.btn_exp:hover,
.sign_btn a:hover {
    background-color: $sign_btn_b_h;
    color: $sign_btn_c_h;
}
.transparent {
    background: initial;
    box-shadow: none;
    .logo {
        background-color: initial;
    }
    .navbar {
        a {
            color: $nav_color_t;
        }
    }
    .sign_in {
        border: 0;
    }
}

/*article模块*/
//第一块section
.slide {
    background-color: $slide_bg;
}
.cover {
    text-align: center;
    color: $slide_color;
    h1 {
        padding-top: 10%;
    }
    h3 {
        padding-top: 1%;
    }
}
.btn_exp {
    //立即体验按钮
    display: inline-block;
    width: $btn_exp_w;
    line-height: $btn_exp_h;
    border-radius: $btn_exp_h/2;
    color: $sign_btn_bg;
    background-color: $sign_btn_color;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
    margin: 8% 0 4%;
}

//第二块section
.feature_one {
    height: 550px;
    overflow: hidden;
}
.feature_one div>div {
    float: left;
}
.feature_one .text {
    width: 60%;
    padding: 120px 30px 0;
    p {
        margin-top: 50px;
        line-height: 36px;
    }
}
.feature_one .pic {
    width: 40%;
    height: 520px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.feature_one:nth-child(2n) {
    background-color: $fea_even_bg;
}
#fea1 {
    background-image: $fea_pic1;
}
#fea2 {
    background-image: $fea_pic2;
    background-position: 100% 0;
}
#fea3 {
    background-image: $fea_pic3;
}
.ani_left {
    animation: appearLeft 2s ease, opacity_app 1.5s linear;
}
.ani_right {
    animation: appearRight 2s ease, opacity_app 1.5s linear;
}

/*footer模块*/
footer {
    background-color: $foot_bg_color;
    height: 60%;
}
